%h1 Welcome to the items list
%p Hope you find what you're looking for
%button{:type => "button"} #{link_to 'New', new_item_path}
%table
	%thead
		%th Serial Number
		%th Description
		%th Supplier
		%th Status
		%th Lender
	%body
		- @item.each do |item|
			%tr
				%td= item.serial_num
				%td= item.description
				%td= item.supplier
				%td= item.status
				%td= item.lender
				%td<
					%button{:type => "button"} #{link_to 'Show', item}
				%td<
					%button{:type => "button"} #{link_to 'Edit', edit_item_path(item)}
				%td<
					%button{:type => "button"} #{link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?'}}

	
