%h1 Item
%p Serial Number: #{@item.serial_num}
%p Description  : #{@item.description}
%p Supplier 	: #{@item.supplier}
%p Status 		: #{@item.status}
%p Lender 		: #{@item.lender}
%p 
	%span 
		%button{:type => "button"} #{link_to 'Edit', edit_item_path(@item)} 
	| 
	%span 
		%button{:type => "button"} #{link_to 'Destroy', @item, method: :delete, data: {confirm: 'Are you sure?'}} 
	| 
	%span 
		%button{:type => "button"} #{link_to 'Back', items_path}